.container {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;
    max-width: 384px;
}

.full-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 8px;
}

.form-group:hover {
    background-color: #f0f0f0;
}

.form-control {
    border-radius: 8px;
    border-color: gray;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    padding: 8px;
}

.btn {
    border-radius: 4px;
    padding: 16px 16px;
    font-size: 12pt;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
}

.btn-secondary:hover {
    background-color: #5a6268;
    cursor: pointer;
}

.alert {
    padding: 16px;
    border-radius: 8px;
    margin-top: 16px;
}

.alert-success {
    background-color: #89ffa4;
    border-color: #155724;
    color: #155724;
}

.alert-error {
    background-color: #ffb3b3;
    border-color: #721c24;
    color: #721c24;
}

@media (min-width: 768px) {
    .container {
        margin-left: 10rem;
        margin-right: 10rem;
        max-width: 602px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 902px;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1160px;
    }
}